page
{
    background: #b3d4db;
}
.userinfo
{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-avatar
    {
        width: 128rpx;
        height: 128rpx;
        margin: 20rpx;
        border-radius: 50%;
    }
    &-nickname
    {
        font-size: 32rpx;
        font-weight: bold;
        margin-top: 100rpx;
    }
}
.usermotto
{
    margin-top: 200rpx;

    button
    {
        @extend .userinfo-nickname;
        font-size: 22rpx;
        border: 2px solid #405f80;
        color: #405f80;
        width: 250rpx;
        height: 80rpx;
        line-height: 77rpx;
        margin: 0;
    }
}
